stats
# wandb log files
wandb

__pycache__/
logs
.pytest_cache/
.coverage
.coverage.*
.idea/
cluster_sbatch.sh
cluster_sbatch_mpi.sh
cluster_torchy.sh
logs/
rl-trained_agents/
.pytype/
htmlcov/
git_rewrite_commit_history.sh
.vscode/
venv/
*~
target_positions.csv
*.png
*.mp4
*.json
*.npy

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST